<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>InterviewHUB</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles/shared.css" />
        <link rel="stylesheet" href="styles/restaurants.css" />
        <script src="scripts/responsive.js" defer></script>
    </head>
    <body>
        <header id="main-header">
            <div id="logo"><a href="/">InterviewHub</a></div>
            <nav>
                <ul>
                    <li class="nav-item">
                        <a href="/interviews">Browse Interview Exp</a>
                    </li>
                    <li class="nav-item">
                        <a href="/shareExp">Share Interview Exp</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">About InterviewHub</a>
                    </li>
                </ul>
            </nav>
            <button id="drawer-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </header>
        <aside id="mobile-drawer">
            <nav>
                <ul>
                    <li class="nav-item">
                        <a href="interviews.html">Browse Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a href="shareExp.html">Share a Restaurant</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html">About Eatwell</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <h1>Recommended Interview Experiences</h1>
            <p>
                Discover insightful interview experiences shared by our
                community members!
            </p>
            <ul id="interviews-list">
                <li class="interview-item">
                    <% Interviews.forEach(interview => { %>
                    <article class="interview-item">
                        <h2><%= interview.companyName %></h2>
                        <div class="interview-meta">
                            <p><%= interview.studentRegistrationNumber %></p>
                        </div>
                        <p><%= interview.interviewExperience %></p>
                        <div class="interview-actions">
                            <a
                                href="interviews/<%= interview.studentRegistrationNumber %>"
                                >Read Article</a
                            >
                        </div>
                    </article>
                    <% }); %>
                </li>
            </ul>
        </main>
    </body>
</html>
